  <div id="myModal" class="modal">
    <div
      style="background: white; padding: 20px; width: 300px; border-radius: 8px"
    >
      <i data-feather="x" class="close-button float-end" style="cursor: pointer"
        >&times;</i
      >
      <h4 id="modalTitle">Filter</h4>

      <div class="mb-2">
        <input
          type="text"
          id="searchFilter"
          class="form-control"
          placeholder="Cari..."
        />
        <div class="form-check mt-2">
          <input
            type="checkbox"
            class="form-check-input"
            id="selectAll"
            style="cursor: pointer"
          />
          <label class="form-check-label" for="selectAll">Pilih Semua</label>
        </div>
      </div>

      <!-- Scrollable Checkbox Container -->
      <div
        id="checkboxList"
        style="max-height: 200px; margin-bottom: 1rem; overflow-y: auto;"
      ></div>

      <!-- Footer dengan tombol sejajar -->
      <div class="modal-footer d-flex justify-content-between p-0">
        <button
          class="btn"
          id="resetSelection"
          style="
            width: 30%;
            padding: 5px;
            background-color: #7a7a7a;
            color: white;
          "
        >
          Reset
        </button>
        <button
          class="btn btn-primary"
          id="submitSelection"
          style="width: 60%; padding: 5px"
        >
          Apply Filter
        </button>
      </div>
    </div>
  </div>