<h2 class="text-center">SPM 1</h2>
<button
  class="btn btn-primary processDataBtn"
  data-table="SPM1"
  style="margin-bottom: 20px; margin-top: 10px"
>
  Process Data
</button>
<div class="pb-4 px-1">
  <table
    border="1"
    cellpadding="5"
    cellspacing="0"
    id="table_SPM1"
    class="display tabledata"
    style="display: none"
  >
    <thead>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>No Invoice</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="No_Invoice"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Nama Klien</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="Nama_Klien"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Tgl Invoice</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="tgl_Invoice"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Tgl Klien Terima Invoice</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn"
            data-column="tgl_klien_Terima_Invoice"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Total Tagihan</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="Total_Tagihan"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Tgl Pelunasan</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="tgl_Pelunasan"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Total Pelunasan</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="Total_Pelunasan"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Sisa Tagihan</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="Sisa_Tagihan"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Tgl Jatuh Tempo</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="Tgl_Jatuh_Tempo"
            data-table="SPM1"
          ></i>
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center justify-content-between">
          <span>Tanggal SPM1</span>
          <i
            data-feather="chevron-down"
            class="button filter-btn ms-1"
            data-column="tanggal_SPM1"
            data-table="SPM1"
          ></i>
        </div>
      </th>
    </thead>
    <tbody></tbody>
  </table>
</div>
